@import "../../colors";

.statusbar {
  width: 100%;
  height: 2rem;
  background-color: $primary-variant-one;
  color: $primary-text;

  flex-direction: row;
  justify-content: space-between;

  .menu-icon {
    height: 100%;
    padding: 0 7px 0 7px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title {

  }

  .icon-bar {

  }
}
