@import "colors";

html, body {
  margin: 0 0 0 0;
  background-color: $content-primary;
  font-family: "DejaVu Serif";
}

.flex {
  display: flex;
}

button, input[type=button], input[type=submit], input[type=reset] {
  background-color: $primary;
  height: 2rem;
  width: 3rem;
}
